<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="routePrefix" content="{routePrefix}" />
    <title>{content.titleTag}</title>
    <link rel="stylesheet" href="{routePrefix}/css/styles.css" />
    <script src="{routePrefix}/js/main.js" defer></script>
  </head>
  <body class="no-js font-sans">
    <main class="flex flex-col">
      <header class="bg-violet-800 px-5 flex items-center text-white">
        <h1 class="text-3xl font-bold my-6 flex-1">
          {content.appTitle} - {content.pageTitle}
        </h1>
        <a class="font-bold text-xl text-white" href="{routePrefix}/">Home</a>
      </header>
      {pageContent|s}
    </main>
    <footer class="bg-gray-300 px-3 py-4 text-center">
      <p>&copy; Copyright <a href="https://lannonbr.com">Benjamin Lannon</a></p>
      <p>
        All data is obtaianed via the
        <a href="https://pokemontcg.io/">Pokemon TCG API</a> by
        <a href="https://andrewbackes.com/">Andrew Backes</a>
      </p>
      <p>
        This website is not produced, endorsed, supported, or affiliated with
        Nintendo or The Pokémon Company.
      </p>
    </footer>
  </body>
</html>
