body {
  font-family: sans-serif;
  color: #100;
  margin: 0;
}

#homepage-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#homepage-header p {
  font-size: 20px;
}

#homepage-header a {
  // border: 1px solid black;
  padding: 8px;
  border-radius: 4px;
  color: white;
  background-color: rgb(22 163 74);
  text-decoration: none;
}

#homepage-header a:hover {
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
}

table {
  // border: 1px solid black;
  margin-top: 10px;
  border-collapse: collapse;
  width: 100%;
}

table th {
  text-align: left;
  border-bottom: 2px solid #777;
}

table td {
  border-top: 1px solid #aaa;
}

table th,
table td {
  padding: 1em;
}

table a {
  text-decoration: none;
  color: blue;
}

table a:hover {
  text-decoration: underline;
}

table a.remove {
  color: red;
  font-weight: 700;
}

ul.setListingList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 8px;
}

ul.setListingList.newSets {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 8px;
  column-gap: 20px;
  padding-left: 0;
}

ul.setListingList.newSets li {
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
  border: 1px solid #aaa;
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  column-gap: 4px;
  list-style-type: none;
  border-radius: 8px;
}

ul.setListingList.newSets li:hover {
  border-color: #333;
}

ul.setListingList.newSets li img {
  width: 200px;
}

ul.setList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  row-gap: 8px;
  gap: 1em;
}

.set-logo {
  width: 250px;
}

#set-list-header {
  display: flex;
  margin-top: 32px;
}

#set-list-header div:first-child {
  padding-right: 48px;
}

#set-list-header div:last-child {
  font-size: 20px;
}

a.back-to-set-listing {
  padding: 8px;
  border-radius: 4px;
  color: white;
  background-color: rgb(22 163 74);
  text-decoration: none;
}

a.back-to-set-listing:hover {
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
}

main {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 100px);
}

header {
  display: flex;
  align-items: center;
  padding-inline: 20px;
  background-color: #5b21b6;
  color: white;
}

header a {
  font-weight: bold;
  font-size: 20px;
  color: white;
  text-decoration: none;
}

header a:hover {
  text-decoration: underline;
}

article {
  margin: 20px;
  flex-grow: 1;
}

header h1 {
  flex: 1;
}

footer {
  background-color: #ccc;
  padding: 10px 20px;
  text-align: center;
}

footer p {
  margin: 6px;
}
