<include src="layouts/main">
  <arg pageContent>
    <article id="homepage">
      <div class="flex items-center justify-between">
        <p class="text-xl">Tracking prices for {count} cards:</p>
        <a class="green-btn" href="{routePrefix}/new">Browse Cards</a>
      </div>
      <table class="mt-3 border-collapse w-full">
        <thead>
          <tr class="text-left border-b-black border-b-2">
            <th>Name</th>
            <th>Identifier</th>
            <th>Rarity</th>
            <th>Requested Price</th>
            <th>Current Market Price</th>
            <th>TCGPlayer Link</th>
            <th>Next Run</th>
            <th>Edit</th>
            <th>Remove</th>
          </tr>
        </thead>
        <tbody>
          <loop through="cards" val="card">
            <tr class="border-t border-t-gray-400">
              <td>{card.cardName}</td>
              <td>
                <a href="{routePrefix}/card/{card.identifier}"
                  >{card.identifier}</a
                >
              </td>
              <td>{card.rarity}</td>
              <td>{card.requestedPrice}</td>
              <td>{card.marketPrice}</td>
              <td><a href="{card.tcgLink}">TCGPlayer</a></td>
              <td>{card.nextRun}</td>
              <td><button class="editBtn">...</button></td>
              <td>
                <a
                  class="text-red-700 font-bold"
                  href="{routePrefix}/removeCard/{card.identifier}"
                  >X</a
                >
              </td>
            </tr>
          </loop>
        </tbody>
      </table>
    </article>
  </arg>
</include>
