<include src="layouts/main">
  <arg pageContent>
    <article id="homepage">
      <a href="/new">Create new Entry</a>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Identifier</th>
            <th>Rarity</th>
            <th>Requested Price</th>
            <th>Current Market Price</th>
            <th>TCGPlayer Link</th>
            <th>Edit</th>
            <th>Remove</th>
          </tr>
        </thead>
        <tbody>
          <loop through="cards" val="card">
            <tr>
              <td>{card.cardName}</td>
              <td><a href="/card/{card.identifier}">{card.identifier}</a></td>
              <td>{card.rarity}</td>
              <td>{card.requestedPrice}</td>
              <td>{card.marketPrice}</td>
              <td><a href="{card.tcgLink}">TCGPlayer</a></td>
              <td><button>...</button></td>
              <td><a href="/removeCard/{card.identifier}">X</a></td>
            </tr>
          </loop>
        </tbody>
      </table>
    </article>
  </arg>
</include>
