<include src="layouts/main">
  <arg pageContent>
    <article id="homepage">
      <h2>Newest Sets</h2>

      <ul class="setListingList newSets">
        <loop through="newSets" val="set">
          <li>
            <img src="{set.img}" alt="Logo for {set.name}" />
            <p>
              <span>{set.name} -</span>
              <a href="/new/{set.value}">{set.value}</a>
            </p>
          </li>
        </loop>
      </ul>
      <h2>All Pokemon Sets</h2>
      <loop through="setsByYear" val="yearGroup">
        <section>
          <h3>{yearGroup.0}</h3>
          <ul class="setListingList">
            <loop through="yearGroup.1" val="set">
              <li>
                {set.name} - {set.description} -
                <a href="/new/{set.value}">{set.value}</a>
              </li>
            </loop>
          </ul>
        </section>
      </loop>
    </article>
  </arg>
</include>
