<include src="layouts/main">
  <arg pageContent>
    <article id="homepage">
      <a class="green-btn" href="/new">&laquo; Back to Set Listing</a>
      <h2>Set Information</h2>
      <div id="set-list-header" class="flex mt-8">
        <div class="pr-12">
          <img class="w-64" src="{set.image}" alt="Logo for {set.name}" />
        </div>
        <div class="text-xl">
          <p>Release Date: {set.releaseDate}</p>
          <p>
            Card Count: {set.total} cards (+{set.secretRares} secret rare cards)
          </p>
        </div>
      </div>
      <h2>Cards:</h2>
      <ul class="setList grid gap-4">
        <loop through="setList" val="card">
          <li>
            <span>{card.name} -</span>
            <a href="/card/{card.value}">{card.value}</a>
          </li>
        </loop>
      </ul>
    </article>
  </arg>
</include>
