<include src="layouts/main">
  <arg pageContent>
    <article id="homepage">
      <h2 class="mt-0">Newest Sets</h2>

      <ul class="ml-0 grid grid-cols-4 gap-y-2 gap-x-5 pl-0">
        <loop through="newSets" val="set">
          <li
            class="p-8 flex flex-col justify-center items-center border border-black rounded-lg"
          >
            <img src="{set.img}" alt="Logo for {set.name}" class="mb-6 w-48" />
            <p>
              <span>{set.name} -</span>
              <a href="/new/{set.value}">{set.value}</a>
            </p>
          </li>
        </loop>
      </ul>
      <h2>All Pokemon Sets</h2>
      <loop through="setsByYear" val="yearGroup">
        <section>
          <h3>{yearGroup.0}</h3>
          <ul class="ml-8 gap-y-2 grid grid-cols-2">
            <loop through="yearGroup.1" val="set">
              <li>
                {set.name} - {set.description} -
                <a class="text-blue-700 hover:underline" href="/new/{set.value}"
                  >{set.value}</a
                >
              </li>
            </loop>
          </ul>
        </section>
      </loop>
    </article>
  </arg>
</include>
